.list-item {
  list-style-type: none;
  margin: 0px;
  width: 150px;
  margin-right: 20px;
}
.similar-product-image {
  width: 100%;
  border-radius: 10px;
}
.similar-product-title {
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 500;
  color: #12022f;
}
.similar-product-brand {
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 400;
  color: #616e7c;
}
.price-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.similar-product-price {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  color: #12022f;
}
